/* --------------------------------------
COLOR PALETTE WITH CSS VARIABLES
----------------------------------------- */   

:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-fg-color: rgb(1, 35, 70);
    --titles-color: #1c0263;
    --bodytext-color: #444444;
  }
  
 body {
     background-color: var(--main-bg-color);
     color: var(--bodytext-color);
    }
 
 h1,h2,h3,h4,h5,h6 {
     color: var( --titles-color);
 }


/* --------------------------------------
  RESPONSIVE IMAGES
----------------------------------------- */  

img {
    max-width: 100%; /* on any device smaller than 576px, shrink all images to fit */
    height: auto;
    margin-bottom: 2rem;
}


/* ------------- CSS VALUES -------------
default font size: 16px
1em = 16px (context sensitive)
1rem = 16px (always) 
----------------------------------------- */

figure {
    border: 1px solid #444;
    margin: 1rem; /* margin of 16px on both sides = 32px */
    padding: 1rem; /* padding of 16px on both sides = 32px */
    position: relative;
}

figcaption {
    margin: 0.75rem 0 0 0;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

/* --------------------------------------
   DEFAULT STYLES GO HERE
----------------------------------------- */   




/* --------------------------------------
   MEDIA QUERIES FOR LARGER VIEWPORTS
----------------------------------------- */   

/* No media query for "extra small" since this is the default  
   The following media query sizes are taken from Bootstrap 5
   See: https://getbootstrap.com/docs/5.1/layout/breakpoints/
   and: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

@media only screen and (min-width: 466px) {  /* 434px figure + 2 x 16px margins */

  main.thumbs figure {
    width: 434px;
    margin: 1rem auto 2rem auto;
}      
}



@media only screen and (min-width: 576px) { 
       
}



/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 918px) { /* 2 x 466px + 16px gap + 2 x 16px outer margins */

  main.thumbs {
    display: grid;
    padding: 0;
    grid-template-columns: 434px 434px; /* 868px */
    grid-column-gap: 1rem; /* 868 + 16 = 884 */
    /* border: 1px solid red; */ /* 884px + 2 x 1px = 886px */
    width: 886px;
    margin: 1rem auto; /* 886px + 2 x 16px = 918px + auto-centering */
  }     
}




/* LAPTOPS AND DESKTOPS CAN BE REGULAR OR RETINA DISPLAY  */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  }


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  }

  @media only screen and (min-width: 1368px) {
    main.thumbs {
      grid-template-columns: 434px 434px 434px;
      grid-column-gap: 1rem;
      width: 1336px;
    }
  }


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  }